<%- include("partials/header") -%>
<div class="container">
  <div class="head-logo">
    <h1>Snacker Tracker</h1>
  </div>
  <div class="form-contain">
  <form action="/snacks" method="post" class="snack-form">

    <label for="snacks">Choose a snack:</label>

    <select name="snacks" type="submit" onchange=submit()>
      <div class="snack-opt">
      <option value="">-Please select a snack</option>
    </div>
      <% snacks.forEach(function(snack){ %>
      <option value="<%= snack._id %>" label="<%=snack.name %>">
        <%= snack.name %>
      </option>
      <% }) %>
    </select>
  </form>
</div>
  <div class="snack-add">
    <i class="fas fa-plus-square"></i>
  </div>
  <div class="foot-nav">
    <a href="#"><i class="fas fa-chart-line"></i></a>
    <a href="/users"><i class="fas fa-user"></i></a>
    <a href="#"><i class="fas fa-utensils"></i></a>
    <i class="fas fa-mortar-pestle active-icon"></i>
  </div>
</div>
<%- include("partials/footer") -%>
