<%- include("partials/header") -%>
<div class="container">
  <div class="head-logo">
    Snacker Tracker
  </div>
  <form action="/users" method="post" class="snack-form">
    <label for="users">Choose a user:</label>
    <select name="users" type="submit" onchange=submit()>
      <option value="">-Please select a user</option>

      <%if( theId.length > 0){%>
        <% users.forEach(function(user){ %>
         <% if (user._id == theId){ %>
          <option value="<%= user._id %>" selected label="<%=user.name %>">
            <%= user.name %>
          </option>  
        <%} else{%>          
          <option value="<%= user._id %>" label="<%=user.name %>">
            <%= user.name %>
          </option>        
      <%}})} else {%>
      <% users.forEach(function(user){ %>
      <option value="<%= user._id %>" label="<%=user.name %>">
        <%= user.name %>
      </option>
    
    <%})}%>
      </form>
  <div class="foot-nav">
    <a href="#"><i class="fas fa-chart-line"></i></a>
    <i class="fas fa-user active-icon"></i>
    <a href="#"><i class="fas fa-utensils"></i></a>
    <a href="/add"><i class="fas fa-mortar-pestle"></i></a>
  </div>
</div>
<%- include("partials/footer") -%>
