<%- include("partials/header") -%>
<div class="container">
  <div class="head-logo">
    Snacker Tracker
  </div>
  <div class="form-contain">
  <form action="/users" method="post" class="snack-form">
    <label for="users">Choose a user:</label>
    <select name="users" type="submit" onchange=submit()>
      <option value="">-Please select a user</option>

      <%if( theId.length > 0){%>
        <% users.forEach(function(user){ %>
         <% if (user._id == theId){ %>
          <option value="<%= user._id %>" selected label="<%=user.name %>">
            <%= user.name %>
          </option>  
        <%} else{%>          
          <option value="<%= user._id %>" label="<%=user.name %>">
            <%= user.name %>
          </option>        
      <%}})} else {%>
      <% users.forEach(function(user){ %>
      <option value="<%= user._id %>" label="<%=user.name %>">
        <%= user.name %>
      </option>
    
    <%})}%>
    </select>
      </form>
    </div>
    <div class="user-data">
      <p>Last snack: <%= lastSnackNum%> <%=lastSnack%></p>
      <br>
      <p>Favourite snacks:</p>

      <% topSnacks.forEach(function(snack) { %>
      <p><%= snack._id %>: <%= snack.total %></p>
      <% }) %>
    </div>
    <div class="user-add">
      <i class="fas fa-plus-square"></i>
    </div>
  <div class="foot-nav">
    <a href="#"><i class="fas fa-chart-line"></i></a>
    <i class="fas fa-user active-icon"></i>
    <a href="#"><i class="fas fa-utensils"></i></a>
    <a href="/add"><i class="fas fa-mortar-pestle"></i></a>
  </div>
</div>
<%- include("partials/footer") -%>
